@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title</h2>
<h3>GAÚCHA ALIMENTAÇÃO COLETIVA</h3>

<address>
    <br />
    RUA MARTE, 129 - JARDIM PELUZZO - PATOS DE MINAS/MG<br />
    <abbr title="Telefone">Telefone:</abbr>
    (34)3814-1206
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:dallariva.gabriel@gmail.com">dallariva.gabriel@gmail.com</a><br />
    <strong>Gaúcha Alimentação:</strong> <a href="mailto:GAUCHA@GAUCHAALIMENTACAO.COM.BR">GAUCHA@GAUCHAALIMENTACAO.COM.BR</a>
</address>