@model IEnumerable<ArquivoDigital.Entity.TipoAutorizacao>

@{
    ViewBag.Title = "Tipo Autorização";
}

<h2>Tipo Autorização</h2>

<p>
    @Html.ActionLink("Novo Tipo Autorização", "Edit", new { id = 0})
</p>
<table class="table">
    <tr>
        <th>
            <b>Descrição</b>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdTipoAutorizacao }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.IdTipoAutorizacao }, new { @onclick = "return confirm('Confirma Exclusão?');" })
        </td>
    </tr>
}

</table>
